.movies-cardlist {
    margin: 41px 0 78px;
    text-align: center;
}

.movies-cardlist__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-template-rows: repeatrepeat(auto-fit, minmax(218px, 1fr));
    list-style-type: none;
    padding: 0;
    margin: 0 auto; 
    gap: 32px 20px;

}

.movies-cardlist__error {
    font-family: "Inter", "Arial", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: #fff;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .movies-cardlist {
        margin: 48px 0 82px;
    }
    .movies-cardlist__container {
        gap: 36px 30px;
        justify-content: center;
    }
    
}

@media screen and (max-width: 630px) {
    .movies-cardlist__container {
        justify-content: center;
        width: 70%;
    }
    
}

@media screen and (max-width: 450px) {
    .movies-cardlist {
        margin: 40px 0 82px;;
        width: 100%;
    }

    .movies-cardlist__container {
        gap: 20px;
        width: 100%;
    }
}