.navigation {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    top: 0;
    left: 0;    
    visibility: hidden;
    transform: translateY(-100%);
    transition: .3s;
  }
  
  .navigation_opened {
    visibility: visible;
    transform: translateY(0);
  }
  
  .navigation__dark {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100vw;
    height: 100vh;
    
  }
  
  .navigation__menu-box {
    position: relative;
    width: 520px;
    height: 100vh;
    margin-left: auto;
    background-color:#202020;
    display: flex;
    flex-direction: column;
    align-items: center
  }

  .navigation__nav {
    display: flex;
    padding-left: 250px;
    width: 100%;
}

.navigation__container {
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    gap: 30px;
    padding-top: 157px;
    list-style-type: none;
    margin: 0;
    display: flex;
}

.navigation__menu {
    margin: 0;
    padding: 0;
}

.navigation__link {
    text-decoration: none;
    color: white;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px; 
    transition: .3s;
    
}

.navigation__link:hover {
    opacity: .7;
}

.navigation__link_active {
    padding-bottom: 5px;
    border-bottom: 2px #fff solid;
}

.navigation__profile-link {
    font-family: "Inter", "Arial", sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 12px;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
    padding-left: 10px;
    padding-top: 623px;    
}

.navigation__profile-link:hover {
    opacity: .7;
}

.navigation__account {
    width: 12px;
    height: 12px;
    padding: 7px;
    border-radius: 50px;
    background-color: #313131;
 }

.navigation__account-button {
    margin: 0 auto 93px;
}

.navigation__close-button {
    position: absolute;
    background-image: url(../../images/button-close.svg);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
    right: 24px;
    top: 24px;
    border: none;
    padding: 0;
    transition: opacity 0.3s linear;
}

.navigation__close-button:hover {
    opacity: .7;
  }
  
@media screen and (max-width: 520px) {
    .navigation__menu-box {
        width: 320px;
    }

    .navigation__container {
        gap: 25px;
        padding-top: 144px;
    }

    .navigation__close-button {
        right: 13px;
        top: 13px;
    }

    .navigation__account-button {
        margin-bottom: 48px;
    }

    .navigation__nav {
        padding-left: 40px;
    }

    .navigation__profile-link {
        padding-top: 446px;
    }
}